TELEGRAM_BOT_TOKEN=
DATABASE_PATH=autosport.db
ITMO_CLIENT_ID=student-personal-cabinet
ITMO_REDIRECT_URI=https://my.itmo.ru/login/callback
ITMO_REALM=itmo
POLL_INTERVAL_SECONDS=10
REMNAWAVE_BASE_URL=
REMNAWAVE_ACCESS_TOKEN=
ADMIN_TELEGRAM_IDS=
